#menu {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 100px;
}

.dropdown-items {
    display:none;
    position:absolute;
    background-color: #f1f1f1;
    min-width:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-items a {
    color:black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-items a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-items {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #3e8e41;
}