#menu {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    padding: 0 16px;
    min-width:150px;
    font-size: 16px;
    background-color: #2c3840;
    color: #f5f5f5;
}

.dropdown-items {
    display:none;
    position:absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index:1;
    min-width:150px;
}

.dropdown-items a {
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 16px;
    background-color: #2c3840;
    color: #f5f5f5;
}

.dropdown-items a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-items {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #3e8e41;
}