body, html{
    margin:0;
    height:100%;
}

body{
    display:flex;
    flex-direction: column;
}

p, h2, h4{
    margin:0;
    padding:10px;
    text-align: center;
}

.header, .footer{
    flex:15;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.header h1, .footer h3{
    margin:2%;
}

.x-area, .y-area{
    margin:2%;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.area-23456{
    flex:70;
    display: flex;
}

.area-2, .area-3, .area-4, .area-5, .area-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area-2{
    width:20%;
}

.area-3456{
    width:80%;
}

.area-3{
    height: 15%;
    width:100%;
}

.area-456{
    height:85%;
    width:100%;
    display: flex;
}

.area-46{
    width:70%;
}

.area-4{
    height:80%;
    overflow: hidden;
}

.area-6{
    height:20%;
}

.area-5{
    width:30%;
}

.blue{
    background-color: aqua;
}

.orange{
    background-color: orange;
}

.green{
    background-color: greenyellow;
}

.white{
    background-color: white;
}